<a href="https://colab.research.google.com/github/hyperprizma/PythonLab/blob/main/Class%20and%20Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class students:
  
    def __init__(self, name):
        self.name = name
        self.marks = []
        
    def enterMarks(self):
        for i in range(3):
            m = int(input("Enter the marks of %s in %d subject: "%(self.name, i+1)))
            self.marks.append(m)
            
    def display(self):
        print (self.name, "got ", self.marks)
             
name = input("Enter the name of Student:")
s1 = students(name)
s1.enterMarks()
s1.display()
print ("")
name = input("Enter the name of Student:")
s2 = students(name)
s2.enterMarks()
s2.display()

Enter the name of Student:Pritish
Enter the marks of Pritish in 1 subject: 98
Enter the marks of Pritish in 2 subject: 89
Enter the marks of Pritish in 3 subject: 78
Pritish got  [98, 89, 78]

Enter the name of Student:Pratyush
Enter the marks of Pratyush in 1 subject: 90
Enter the marks of Pratyush in 2 subject: 78
Enter the marks of Pratyush in 3 subject: 56
Pratyush got  [90, 78, 56]

In [5]:
class Employee:

    def __init__(self, name, des, salary):
        self.name = name
        self.des = des
        self.salary = salary
    
    def displayCount(self):
        print("Employees in the organization are: ", self.count)
        
    def displayEmp(self):
        print ("Name of Employee is: ", self.name)
        print ("Designation of Employee: ", self.des)
        print ("Salary of Employee: ", self.salary)
        
e1 = Employee ("Pritish", "Game Developer", 25000)
e2 = Employee ("Pratyush", "Web Developer", 300000)


print("Employee Details is:")

e1.displayEmp()
e2.displayEmp()

Employee Details is:
Name of Employee is:  Pritish
Designation of Employee:  Game Developer
Salary of Employee:  5000000
Name of Employee is:  Pratyush
Designation of Employee:  Web Developer
Salary of Employee:  4100000

In [7]:
import datetime
class person:
    def __init__(self, name, dob):
        self.name=name
        self.dob=dob
    def check(self):
        today=datetime.date.today()
        age=today.year-self.dob.year
        if today< datetime.date(today.year, self.dob.month, self.dob.day):
            age-=1
        if age>=18:
            print(self.name,",You are eligible to vote.")
        else:
            print(self.name," , Sorry! You should be at least 18 years of age to cast your vote.")
p=person("Pritish", datetime.date(1999, 1, 12))
p.check()

Pritish ,You are eligible to vote.

In [ ]:
class Circle:
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

NewCircle = Circle(8)
print(NewCircle.area())
print(NewCircle.perimeter())

200.96
50.24

In [8]:
class Student:
    marks = []
    def getData(self, rn, name, m1, m2, m3):
        Student.rn = rn
        Student.name = name
        Student.marks.append(m1)
        Student.marks.append(m2)
        Student.marks.append(m3)
        
    def displayData(self):
        print ("Roll Number is: ", Student.rn)
        print ("Name is: ", Student.name)
        #print ("Marks in subject 1: ", Student.marks[0])
        #print ("Marks in subject 2: ", Student.marks[1])
        #print ("Marks in subject 3: ", Student.marks[2])
        print ("Marks are: ", Student.marks)
        print ("Total Marks are: ", self.total())
        print ("Average Marks are: ", self.average())
        
    def total(self):
        return (Student.marks[0] + Student.marks[1] +Student.marks[2])
    
    def average(self):
        return ((Student.marks[0] + Student.marks[1] +Student.marks[2])/3)
    
r = int (input("Enter the roll number: "))
name = input("Enter the name: ")
m1 = int (input("Enter the marks in the first subject: "))
m2 = int (input("Enter the marks in the second subject: "))
m3 = int (input("Enter the marks in the third subject: "))

s1 = Student()
s1.getData(r, name, m1, m2, m3)
s1.displayData()

Enter the roll number: 1905763
Enter the name: Pritish
Enter the marks in the first subject: 90
Enter the marks in the second subject: 89
Enter the marks in the third subject: 93
Roll Number is:  1905763
Name is:  Pritish
Marks are:  [90, 89, 93]
Total Marks are:  272
Average Marks are:  90.66666666666667

In [9]:
class Rectangle:
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def rectangle_area(self):
        return self.length*self.width

newRectangle = Rectangle(12, 10)
print(newRectangle.rectangle_area())

120

In [ ]:
class Fraction:
    def __init__(self,n,d):
      self.num = n
      self.den = d
    def display(self):
      return str(self.num)+"/"+str(self.den)
frac = Fraction(4,5)
print(frac.display())

In [ ]:
from abc import ABC, abstractmethod

class Polygon(ABC):

    def __init__(self, n):
        self.number_of_sides = n

    def print_num_sides(self):
        print('There are ' + str(self.number_of_sides) + ' sides.')

    @abstractmethod
    def get_area(self):
        pass

class Rectangle(Polygon):

    def __init__(self, lenghts_of_sides):
        Polygon.__init__(self, 4)
        self.lengths_of_sides = lenghts_of_sides  # list of two numbers

    def get_area(self):
        '''return the area of the rectangle: length x width'''
        x, y = self.lengths_of_sides
        return x * y

class Triangle(Polygon):

    def __init__(self, lengths_of_sides):
        Polygon.__init__(self, 3)
        self.lengths_of_sides = lengths_of_sides  # list of three numbers

    def get_area(self):
        '''return the area of the triangle using the semi-perimeter method'''
        a, b, c = self.lengths_of_sides

        # calculate the semi-perimeter
        s = (a + b + c) / 2
        return (s*(s-a)*(s-b)*(s-c)) ** 0.5




tri = Triangle([3, 4, 5])
print(tri.get_area())

rect = Rectangle([5,10])
print(rect.get_area())

In [ ]:
class Bill:
    def __init__(self,a):
      self.amount = a

class Cash(Bill):
    def display(self):
      return str(self.amount) + " payed by cash!"

class Card(Bill):
    def display(self):
      return str(self.amount) + " payed by card!"
  
ob1 = Cash(100)
ob2 = Card(100)

print(ob1.display())
print(ob2.display())

100 payed by cash!
100 payed by card!

In [ ]:
class Numbers:
    def __init__(self,n):
      self.numbers = n
    
    def largest(self):
      return max(self.numbers)
    
nos = Numbers([12,3,1,323,123,34])
print(nos.largest())

323

In [ ]:
class Stringss:

  def __init__(self,s):
    self.str = s

  def countCharacterType(self):
    vowels = 0
    consonant = 0
    specialChar = 0
    digit = 0
    for i in range(0, len(self.str)):
         
        ch = self.str[i]
 
        if ( (ch >= 'a' and ch <= 'z') or
             (ch >= 'A' and ch <= 'Z') ):
            ch = ch.lower()
 
            if (ch == 'a' or ch == 'e' or ch == 'i'
                        or ch == 'o' or ch == 'u'):
                vowels += 1
            else:
                consonant += 1
         
        elif (ch >= '0' and ch <= '9'):
            digit += 1
        else:
            specialChar += 1
     
    print("Vowels:", vowels)
    print("Consonant:", consonant)
    print("Digit:", digit)
    print("Special Character:", specialChar)

strs = Stringss("its raining cats and dogs!")
strs.countCharacterType()

In [12]:
class Bank_Account:
	def __init__(self):
		self.balance=0
		print("Hello!!! Welcome to the Deposit & Withdrawal Machine")

	def deposit(self):
		amount=float(input("Enter amount to be Deposited: "))
		self.balance += amount
		print("\n Amount Deposited:",amount)

	def withdraw(self):
		amount = float(input("Enter amount to be Withdrawn: "))
		if self.balance>=amount:
			self.balance-=amount
			print("\n You Withdrew:", amount)
		else:
			print("\n Insufficient balance ")

	def display(self):
		print("\n Net Available Balance=",self.balance)

s = Bank_Account()

s.deposit()
s.withdraw()
s.display()

Hello!!! Welcome to the Deposit & Withdrawal Machine
Enter amount to be Deposited: 500

 Amount Deposited: 500.0
Enter amount to be Withdrawn: 78

 You Withdrew: 78.0

 Net Available Balance= 422.0

# NAME : SHASHI KIRAN GUJJA
# ROLL : 1905769

In [ ]:
test_list = [1, 3, 4, 3, 6, 7]
res_list = []
for i in range(0, len(test_list)) :
    if test_list[i] == 3 :
        res_list.append(i)

print("3 occurre in indeces : " + str(res_list) + " " + str(len(res_list)) + " times!")

3 occurre in indeces : [1, 3] 2 times!

In [ ]:
mystring = "Secret agents are super good at staying hidden."
lis = [word[0] for word in mystring.split()]
print(lis)

['S', 'a', 'a', 's', 'g', 'a', 's', 'h']

In [ ]:
infile = open("/content/t&t/txt1.txt", 'r')
outfile = open("/content/t&t/txt2.txt", 'w')

for line in infile:
  outfile.write(str(len(line)) + line)

infile.close()
outfile.close()