<a href="https://colab.research.google.com/github/hyperprizma/PythonLab/blob/main/LabAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Choose the operator (+,-,*,/):")
operator = input()
print("Enter the first integer:")
x = int(input())
print("Enter the second integer:")
y = int(input())
print("Your result is:")
if operator == "+":
  print(x+y)
elif operator == "-":
  print(x-y)
elif operator == "*":
  print(x*y)
elif operator == "/":
  print(x/y)

Choose the operator (+,-,*,/):
/
Enter the first integer:
70
Enter the second integer:
35
Your result is:
2.0

In [4]:
year = int(input("Enter Year: "))
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

Enter Year: 2016
2016 is a Leap Year

In [5]:
celsius = float(input("Enter Celcius: "))
fahrenheit = (9/5)*celsius + 32
print("Fahrenheit ",fahrenheit)

Enter Celcius: 67
Fahrenheit  152.60000000000002

In [6]:
print("Enter Time 1 :")
h1=int(input("Hour : "))
m1=int(input("Minute : "))
s1=int(input("Second : "))
print("Enter Time 2 :")
h2=int(input("Hour : "))
m2=int(input("Minute : "))
s2=int(input("Second : "))
h3=h1+h2+(m1+m2+(s1+s2)//60)//60
m3=(m1+m2+(s1+s2)//60)%60
s3=(s1+s2)%60
print("Time 1 :",h1," Hour,",m1," Minute and ",s1," Second")
print("Time 2 :",h2," Hour,",m2," Minute and ",s2," Second")
print("Total Time  :",h3," Hour &",m3," Minute and ",s3,"Second")

Enter Time 1 :
Hour : 5
Minute : 3
Second : 56
Enter Time 2 :
Hour : 2
Minute : 23
Second : 45
Time 1 : 5  Hour, 3  Minute and  56  Second
Time 2 : 2  Hour, 23  Minute and  45  Second
Total Time  : 7  Hour & 27  Minute and  41 Second

In [8]:
num = int(input("Enter a number: "))

sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 456
456 is not an Armstrong number

In [9]:
start, end = 100, 200  
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num, end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

In [16]:
num1 = int(input())
num2 = int(input())
a = num1
b = num2
while(num2 != 0):
    temp = num2
    num2 = num1 % num2
    num1 = temp
gcd = num1  
lcm = (a * b) // gcd 
print("The LCM of the numbers is ", lcm)

45
27
The LCM of the numbers is  135

In [2]:
x1=int(input("enter x1 : "))

x2=int(input("enter x2 : "))

y1=int(input("enter y1 : "))

y2=int(input("enter y2 : "))

result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)

print("distance between",(x1,x2),"and",(y1,y2),"is : ",result)

enter x1 : 4
enter x2 : 7
enter y1 : 2
enter y2 : 9
distance between (4, 7) and (2, 9) is :  7.615773105863909

In [5]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 45
The Multiplication Table of:  45
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [6]:
pi=22/7
height = float(input('Height of cylinder: '))
radian = float(input('Radius of cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

Height of cylinder: 34
Radius of cylinder: 5
Volume is:  2671.4285714285716
Surface Area is:  1225.7142857142856

In [7]:
import cmath  
a = float(input('Enter a: '))  
b = float(input('Enter b: '))  
c = float(input('Enter c: '))   
d = (b**2) - (4*a*c)    
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  
print('The roots of the equation are:', sol1, sol2)

Enter a: 4
Enter b: 2
Enter c: 6
The roots of the equation are: (-0.25-1.1989578808281798j) (-0.25+1.1989578808281798j)

In [11]:
a=int(input("Number of classes held:"))

b=int(input("Number of classes attended:"))

percentage=b/a*100

if percentage>=75:

        print("The student is allowed and Attendance is:", percentage)

else:

        print("The student is not allowed and Attendance is:", percentage)

Number of classes held:45
Number of classes attended:44
The student is allowed and Attendance is: 97.77777777777777

In [18]:
dist = int(input("Enter distance in meters:"))
km = dist/1000
m = dist%1000
print("Hence the distance in kilometers is ",km, "and meters is:",m)

Enter distance in meters:5000
Hence the distance in kilometers is  5.0 and meters is: 0

In [ ]:
upto = int(input("Find sum of prime numbers upto : "))

sum = 0

for num in range(2, upto + 1):

    i = 2
    
    for i in range(2, num):
        if (int(num % i) == 0):
            i = num
            break;

    #If the number is prime then add it.
    if i is not num:
        sum += num

print("\nSum of all prime numbers upto", upto, ":", sum)

In [ ]:
number = int(input("Enter the integer number: "))   
revs_number = 0  
while (number > 0):  
    # Logic  
    remainder = number % 10  
    revs_number = (revs_number * 10) + remainder  
    number = number // 10  
print("The reverse number is : {}".format(revs_number))